@font-face {
    font-family: 'Verlag';
    src: url('Verlag-Bold.eot');
    src: url('Verlag-Bold.eot?#iefix') format('embedded-opentype'),
        url('Verlag-Bold.woff2') format('woff2'),
        url('Verlag-Bold.woff') format('woff'),
        url('Verlag-Bold.ttf') format('truetype'),
        url('Verlag-Bold.svg#Verlag-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verlag';
    src: url('Verlag-Light.eot');
    src: url('Verlag-Light.eot?#iefix') format('embedded-opentype'),
        url('Verlag-Light.woff2') format('woff2'),
        url('Verlag-Light.woff') format('woff'),
        url('Verlag-Light.ttf') format('truetype'),
        url('Verlag-Light.svg#Verlag-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

